<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head'); %>

<body>
    <%- include('includes/menu'); %>
    <section class="container">
        <h1>Agenda</h1>
        <p class="txtCenter">Abaixo a lista dos contatos cadastrados.</p>
        <%- include('includes/messages') %>
        <%- include('includes/listContact') %>
    </section>
    <%- include('includes/footer'); %>

</body>

</html>