<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head') %>

<body>
    <%- include('includes/menu') %>
    <h1>Entrar</h1>
    <p class="txtCenter">Faça login abaixo ou <a href="./register">registre a sua conta aqui.</a></p>
    <%- include('includes/messages') %>
    <%- include('includes/formUser') %>
    <%- include('includes/footer') %>
</body>

</html>