<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head') %>

<body>
    <%- include('includes/menu') %>
    <h1>Entrar</h1>
    <%- include('includes/messages') %>
    <%- include('includes/formUser') %>
    <%- include('includes/footer') %>
</body>

</html>