<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head') %>

<body>
    <%- include('includes/menu') %>
    <h1>Cadastrar</h1>
    <p class="txtCenter">Registre sua conta abaixo ou faça <a href="./login">login aqui.</a></p>
    <%- include('includes/messages') %>
    <%- include('includes/formUser') %>
    <%- include('includes/footer') %>
</body>

</html>